@import '../../../sass/variables';
.zoom:hover {
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.navbar-toggler {
    border: 0 solid black;
    font-size: 16px;
    line-height: 24px;
    margin: 32px 0 30px 15px;
    padding: 0;
    float: right;
    background-color: black;
}



.playColor {
    color: #5259a7;
    // opacity: 0.05;
    font-size: 25px;
}

@media only screen and (max-width:1025px) {
    .custom-li,
    .Rectangle-10-copy-2 {
        display: none !important;
    }
    .subscribe-box .btn {
        font-size: 20px;
        padding: 0 20px;
    }
    // .paddingSocialMedia {
    //   padding: -1px !important;
    // }
    .dispalyTouch {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .paddingOurStory {
        padding: 30px;
    }
}

@media only screen and (min-width:769px) {
    .paddingSocialMedia {
        padding: 0px !important;
    }
}

.paddingSocialMedia {
    cursor: pointer;
}

paddingSocialMedia:hover img {
    background-color: black;
}

.owl-carousel .owl-item {
    width: 0px !important;
}

@media (max-width:1024px) {
    .logo-size {
        width: 150px;
        height: 87px;
    }
}

.menu-links .nav>li:hover>a:after {
    display: none;
}

.menu-links .nav>li>a {
    font-size: 17px;
}


.menu-links .nav > li {
    
    margin-top: -19px !important;
}

.subscribe-box .btn {
    background-image: linear-gradient(to top, #345bfb, #6c09fb), linear-gradient(to bottom, #5066b0, #5066b0);
    color: #5066b0 !important;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 21px;
    font-weight: 600;
    font-family: $simform-font-family;
    width: 143px;
    height: 61px;
    border-radius: 8px;
    border: solid 2px $simform-bg-color;
    background-color: #ffffff;
}

.inline-padding-custom {
    padding-inline-start: 34px;
}

.inline-padding-custom-1 {
    padding-inline-start: 82px;
}

@media only screen and (max-width:480px) {
    .mobile-align {
        justify-content: center !important;
    }
    .Welcome-to-simform {
        font-size: 22px;
        text-align: center;
    }
    .Lorem-ipsum-dolor-sit-amet-consectetur-adi-piscing-ipsum-dolor {
        font-size: 20px;
        text-align: center;
    }
    .Rectangle-1-copy {
        width: 158px;
        height: 56px;
        margin-left: 62px;
    }
    .Get-Started {
        font-size: 19px;
    }
    .heading-p-custom {
        font-size: 16px;
    }
    .subscribe-box .subscribe-title h4 {
        font-size: 21px;
    }
    .subscribe-form .input-group-btn {
        display: flex;
        justify-content: center !important;
        padding: 0px !important;
        margin: 0px !important;
    }
    .subscribe-box .btn {
        display: flex;
        justify-content: center !important;
        padding: 0px !important;
        margin: 0px !important;
        font-size: 20px;
    }
    .subscribe-box {
        margin-bottom: 0px !important;
    }
    .mobile-service-card-1 {
        width: 80% !important;
    }
    .mobile-service-card-2 {
        padding: 10px 17px 10px 10px !important;
    }
    .mobile-subscribe-2 {
        padding: 15px !important;
    }
    .mobile-subscribe-3 {
        margin: 0px !important;
    }
    .mobile-subscribe-1 {
        padding: 0px !important;
    }
    .mobile-margin {
        margin-left: -1px;
    }
    .inline-padding-custom {
        padding-inline-start: 25px;
    }
    .inline-padding-custom-1 {
        padding-inline-start: 64px;
    }
    .custom-padding-1 {
        // padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .mobile-view-padding {
        padding-left: 5px !important;
    }
    .mobile-view-1 {
        margin-bottom: 527px;
    }
}

.mobile-view-padding {
    padding-left: 0px !important;
}

.effectBtNGetStarted:hover {
    background-color: $simform-bg-color !important;
    color: white;
    // transform: scale(.1);
    opacity: 0.4px;
}

.newBtnHover:hover {
    color: $simform-bg-color !important;
}

.btn-cn-up {
    background-color: $simform-bg-color;
}

@media only screen and (max-width:2560px) {
    .Rectangle-2-custom {
        background: url(src/assets/images/shape-2.svg) no-repeat;
        background-size: 125% 155%;
        background-position: top -574px right -1239px;
        ;
    }
}

@media only screen and (max-width:1920px) {
    .Rectangle-2-custom {
        background: url(src/assets/images/shape-2.svg) no-repeat;
        background-size: 125% 155%;
        background-position: top -553px right -846px;
        ;
    }
}

@media only screen and (max-width:1440px) {
    .Rectangle-2-custom {
        background: url(src/assets/images/shape-2.svg) no-repeat;
        background-size: 125% 155%;
        background-position: top -435px right -617px;
    }
}

@media only screen and (max-width:1024px) {
    .Rectangle-2-custom {
        background: url(src/assets/images/shape-2.svg) no-repeat;
        background-size: 125% 155%;
        background-position: top -365px right -488px;
    }
}

@media only screen and (max-width:768px) {
    .Rectangle-2-custom {
        background: url() no-repeat;
        background-size: 125% 155%;
        background-position: top -365px right -488px;
    }
}

.dashboard-header {
    margin-top: 15px;
}

.section-2-custom {
    padding-top: 75px;
}

@media only screen and (max-width:480px) {
    .dashboard-header {
        margin-top: 0px !important;
    }
    .section-2-custom {
        margin-top: 0px !important;
    }
    .is-fixed {
        display: none !important;
    }
}

.callerFloater:hover {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

.callerFloater {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes callerFloater {
    from {
        transform: translate(0, 0px);
    }
    65% {
        transform: translate(0, 15px);
    }
    to {
        transform: translate(0, -0px);
    }
}

@keyframes callerFloater {
    from {
        transform: translate(0, 0px);
    }
    65% {
        transform: translate(0, 15px);
    }
    to {
        transform: translate(0, -0px);
    }
}

.services-bx:hover {
    border-radius: 10px 10px 10px 10px !important;
}

.custom-margin {
    margin-left: 0px;
    margin-right: 0px;
}

@media only screen and (min-width:1440px) {
    .custom-margin-new {
        margin-left: -11px !important;
    }
}

@media only screen and (min-width:768px) {
    .floating {
        animation-name: floating;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }
    @keyframes floating {
        from {
            transform: translate(0, 60px);
        }
        65% {
            transform: translate(0, 100px);
        }
        to {
            transform: translate(0, 60px);
        }
    }
    .section-3-custom {
        padding-top: 100px;
    }
    .section-sp2 {
        padding-top: 200px;
    }
}

// .newBtnHover:hover {
//   transform: rotate(-90deg);
// }
.newBtnHover {
    cursor: pointer;
}

.newBtnHover:hover {
    transform: rotate(300deg);
    -moz-transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
    transform-origin: center;
    -moz-transform-origin: center;
    -webkit-transform-origin: center;
    // transition              : transform 1.0s ease all;
    // -moz-transition         : -moz-transform 1.0s ease all;
    // -webkit-transition      : -webkit-transform 1.0s ease all;
}

.is-fixed .menu-links .nav>li>a {
    color: rgba(0, 0, 0, 0.6) !important;
}

.header-transparent .is-fixed .menu-bar {
    position: fixed;
    background-color: #eff7fc;
}


.secondary-menu .secondary-inner {
    display: inline-block;
    margin-left: 10px;
    margin-top: -10px !important;
}


// .sticky {
//     position: fixed !important;
//     top: 0 !important;
//     width: 100% !important;
    
// }
// .header-transparent .sticky .menu-bar {
//     position: fixed;
//     background-color: white
// }
// .sticky .menu-bar {
//     position: fixed;
//     top: 0;
//     left: 0;
//     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
// }
//   .sticky  {
//     padding-top: 60px;
//   }


@media only screen and (min-width: 480px) {

    .sticky {
        position: fixed !important;
        top: 0 !important;
        width: 100% !important;
        
    }
    .header-transparent .sticky .menu-bar {
        position: fixed;
        background-color: white;
        width: 100% !important;
    }
    .sticky .menu-bar {
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }
    
    .sticky .menu-links .nav > li > a{
        color: black !important;
    }
    }
    