@import '../../../sass/variables';
@import '../../../sass/mixins';
@import '../../../assets/scss/material-dashboard.scss';
@import '../../../assets/css/material-dashboard.css';
.text-1 {
    font-family: Ubuntu;
    font-size: 20.5px;
    font-weight: 700;
    color: black;
    line-height: 2;
}

.text-2 {
    color: #000000;
    font-family: Ubuntu;
    font-size: 40px;
    font-weight: bold;
}

.text-3 {
    opacity: 0.5;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: var(--black-50);
}

.custom-badge {
    background-color: #e88635;
    color: white;
    width: 56%;
       padding: 10px 16px 10px 20px;
    /* margin-top: -34px; */
    display: block;
    float: right;
    //  margin-left: 96px; 
    border-radius: 0px 0px 11px 11px;
    position: absolute;
    margin-top: 0px;
}

.custom-num {
    font-size: 25px;
    font-weight: bold;
}

.custom-style {
    padding:0px 40px 15px 40px;
}

.custom-style-1 {
    padding: 0px 54px 50px 54px;
}

.custom-style-2 {
    padding: 0px 50px 56px 50px;
}

.rectangle-face {
    border-radius: 5px;
    border: solid 1px #d4dade;
    background-color: #f3f6f8;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.64px;
    text-align: left;
    color: #000000;
    padding: 10px;
    max-width: fit-content;
}

.text-4 {
    opacity: 0.6;
    font-family: Ubuntu;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.88px;
    text-align: left;
    color: var(--black-60);
}

.text-5 {
    opacity: 0.6;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.64px;
    text-align: left;
    color: var(--black-60);
}

.text-1-new {
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 500;
    color: black;
    line-height: 2;
}

.text-6 {
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.72px;
    text-align: left;
    color: #000000;
}

.text-7 {
    opacity: 0.5;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.56px;
    text-align: left;
    color: var(--black-50);
}

.text-9 {
    opacity: 0.5;
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.56px;
    text-align: left;
    color: var(--black-50);
}

.custom-hr {
    border-radius: 10px;
    box-shadow: -14.1px 14.1px 46px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}



.mobile-style-3 {
    margin-top: 42px;
    margin-bottom: 21px;
}

.mobile-custom-2 {
    display: none;
}

@media (max-width:480px) {
    .mobile-custom-1 {
        display: none;
    }
    .custom-badge {
        /* max-width: 100%; */
        background-color: #e88635;
        color: white;
        width: 88%;
        padding: 7px;
        // margin-top: -75px;
        display: block;
        /* float: right; */
        // margin-left: 156px;
        border-radius: 0px 0px 11px 11px;
        position: absolute;
        margin-top: 0px !important;
    }
    .mobile-style-1 {
        padding: 0px 35px 0px 19px !important;
    }
    .mobile-style-2 {
        margin-top: 40px !important;
    }
    .mobile-style-3 {
        margin-top: 18px !important;
        margin-bottom: 18px !important;
        justify-content: center !important;
    }
    .mobile-style-4 {
        padding: 0px 25px 8px 25px !important;
    }
    .mobile-style-5 {
        margin-top: 15px !important;
    }
    .custom-style-1 {
        padding: 0px 10px 5px 10px !important;
    }
    
    .mobile-custom-2 {
        display: flex;
    }
    .custom-style-2 {
        padding: 0px 10px 5px 10px !important;
    }
    .card-custom{
        height: auto !important;
      }
     
      .text-1-new {
        font-size: 20px !important;
    }
    
}

@media (max-width:768px) and (min-width:481px) {
    .custom-badge {
        width: 143%;
        margin-top: 0px !important;
    }
    .tablet-custom {
        padding: 0px 37px 10px 30px !important;
    }
    .mobile-style-3 {
        margin-top: 70px;
        margin-bottom: 10px;
    }
    .custom-style-1 {
        padding: 0px 40px 43px 24px;
    }
   
    .custom-style-2 {
        padding: 0px 40px 29px 24px;
    }
    
    .custom-style {
        padding: 0px 60px 130px 50px;
    }
    .card-custom{
        height: 496px !important;
      }
      .btn-custom-purple {
       
        font-size: 18px !important;
       
    }
}

@media (max-width:1024px) and (min-width:769px) {
    .custom-badge {
        width: 103%;
    }
    .mobile-style-4 {
        padding: 0px 50px 44px 39px !important;
    }
    .custom-style-1 {
        padding: 0px 16px 32px 13px;
    }
   
    .custom-style {
        padding: 0px 60px 51px 50px;
    }
    .custom-style-2 {
        padding: 0px 50px 39px 50px;
    }
  
    .text-1 {
        font-size: 17px !important;
    }
    .text-2 {
        font-size: 17px !important;
    }
    .text-3 {
        font-size: 17px !important;
    }
    .card-custom{
        height: 496px !important;
      }
}

@media (max-width:375px) {
    
    .custom-badge {
        width: 107%;
    }
    
}

@media (max-width:320px) {
    .text-2 {
        font-size: 34px;
    }
}

@media (max-width:1440px) and (min-width: 1025px) {
    .custom-badge {
        width: 80%;
    }
    .card-custom{
        height: 445px !important;
    }
}
@media (max-width:1600px)and (min-width: 1441px){
.card-custom{
    height: 497px;
}
.custom-badge {
    width: 74%;
}
}
.text-8 {
    font-family: Ubuntu;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.72px;
    text-align: left;
    color: #000000;
}

.text-9 {
    opacity: 0.5;
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.56px;
    text-align: left;
    color: var(--black-50);
}

.btn-custom-1 {
    // border-radius: 5px;
    // background-color: $simform-bg-color;
    // border: none;
    // color: white;
    // padding: 0px 10px 0px 10px;
    border-radius: 5px;
    background-color: $simform-bg-color;
    border: none;
    color: white;
    padding: 4px 10px 4px 10px;
    font-size: 12px;
    font-weight: 600;
}

.btn-custom-2 {
    // border-radius: 5px;
    // background-color: #e88635;
    // // max-width: fit-content;
    // color: white;
    // border: none;
    // padding: 0px 10px 0px 10px;
    border-radius: 5px;
    background-color: #e88635;
    color: white;
    border: none;
    padding: 4px 10px 4px 11px;
    font-size: 12px;
    font-weight: 600;
}

.text-2-new {
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 500;
    color: black;
    line-height: 2;
}


// for sidebar

// #sidebar-wrapper {
//     background-color: #eff7fc;
//     min-height: 100vh;
//     margin-left: -15rem;
//     -webkit-transition: margin .25s ease-out;
//     -moz-transition: margin .25s ease-out;
//     -o-transition: margin .25s ease-out;
//     transition: margin .25s ease-out;
//     box-shadow: 1px 1px 5px #ccc ;
//   }
  
//   #sidebar-wrapper .sidebar-heading {
//     padding: 0.875rem 1.25rem;
//     font-size: 1.2rem;
//   }
  
//   #sidebar-wrapper .list-group {
//     width: 15rem;
//   }

//   #sidebar-wrapper .list-group > a {
//     background-color: #eff7fc;
//   }

//   #sidebar-wrapper .list-group > a:hover {
//     background-color: #e6f5ff;
//   }
  
//   #page-content-wrapper {
//     min-width: 100vw;
//   }
  
//   #wrapper.toggled #sidebar-wrapper {
//     margin-left: 0;
//   }
  
//   @media (min-width: 768px) {
//     #sidebar-wrapper {
//       margin-left: 0;
//     }
  
//     #page-content-wrapper {
//       min-width: 0;
//       width: 100%;
//     }
  
//     #wrapper.toggled #sidebar-wrapper {
//       margin-left: -15rem;
//     }
//   }

//   end sidebar


.avatar {
    vertical-align: middle !important;
    // width: 80px !important;
    // height: 80px !important;
    max-width: 40%;
    border-radius: 50% !important;
  }

  .card-custom{
    height: 400px ;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 7px 20.6px 0.4px rgba(54, 54, 54, 0.2);
    background-color: #ffffff;
  }
