<div class=" page-wraper ">
    <!-- <div id="loading-icon-bx"></div> -->
    <!-- Header Top ==== -->

    <div class="container-fluid">
        <div class="row ">
            <div class=" col-md-12 col-10 col-sm-12  col-lg-12 col-xl-12 ">
                <app-pre-login-header>
                </app-pre-login-header>
            </div>
        </div>
        <div class="row  Rectangle-2-custom mobile-align">
            <div class="col-md-2  col-sm-0"></div>
            <div class="d-block col-md-5 col-10 col-sm-12 col-lg-5 col-xl-5 custom-section-1-padding">
                <p class="Welcome-to-Simform text-warning ">Welcome To Simform</p>
               
                <button class="btn-custom-purple" [routerLink]="['/signup/sign-up-user']">Register User &nbsp; <i
                        class="fa fa-long-arrow-right" style="font-size: larger"></i> </button>
            </div>

        </div>
        <!-- </div> -->

    </div>
   